main {
    padding: 102px 88px 102px 88px;
}

.main-description {
    width: 450px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
}

.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.decription {
    color: #595959;
}

.projects {
    width: 485px;
    margin-bottom: 45px;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0px;
    list-style-position: inside;
}

.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}

.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}

.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    margin-top: 18px;
}

.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.field-of-study {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.header-primary-edu {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 6px;
}

.education {
    margin-top: 30px;
}