body {
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px 0px #0000001a;
}

aside {
  width: 370px;
  background: #1e2939;
}

.cv-photo {
  margin-top: 40px;
}

.header-secondary {
  color: #ffffff;
}

.contact-links {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  padding-left: 0;
  list-style-position: inside;
}

.list-secondary-item {
  color: #ffffff;
  padding-left: 0px;
  list-style-position: inside;
}

.contact-block {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.tech-skills-block {
  margin-top: 20px;
  margin-left: 20px;
}

.soft-skill-block {
  margin-top: 20px;
  margin-left: 20px;
}

main {
  padding: 102px 88px 102px 88px;
}

.main-description {
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}

.job-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}

.decription {
  color: #595959;
}

.projects {
  width: 485px;
  margin-bottom: 45px;
}

.list-primary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 0px;
  list-style-position: inside;
}

.list-primary-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.header-primary {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 12px;
}

.job-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  margin-top: 18px;
}

.highlight {
  color: #fb6d3a;
}

.job-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.job-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.field-of-study {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.header-primary-edu {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 6px;
}

.education {
  margin-top: 30px;
}

.language-skill-block {
  margin-top: 20px;
  margin-left: 20px;
}

.courses-block {
  margin-top: 20px;
  margin-left: 20px;
}

.course-organizer {
  margin: 5px 5px 5px 5px;
  padding-left: 16px;
  list-style-position: inside;
}

.interests {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #595959;
}
