body {
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: reverse;
  width: 1200px;
  justify-content: center;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0px 25px 25px 0px #534c4c1a;
}

.highlight {
  color: #fb6d3a;
}